In [2]:
import osmnx as ox

place_name = "Пермь Индустриальный Район"
area = ox.gdf_from_place(place_name)

In [6]:
graph = ox.graph_from_place(place_name)
nodes, edges = ox.graph_to_gdfs(graph)

In [49]:
buildings = ox.footprints_from_place(place_name)
amenities = ox.pois_from_place(place_name, amenities=sustenance_amenities)

In [30]:
import numpy as np
dict(amenities.amenity.value_counts())

{'cafe': 21,
 'fast_food': 13,
 'restaurant': 3,
 'bar': 2,
 'public_building': 1,
 'pub': 1}

In [39]:
buildings.dropna(subset=['shop'])

,nodes,building,building:levels,geometry,addr:housenumber,addr:street,name,shop,leisure,sport,...,fixme,level,old_name,short_name,toilets:wheelchair,payment:cash,location,official_short_name,members,type
25690389,"[280099284, 280097179, 280099285, 1485943974, ...",yes,3,"POLYGON ((56.18953 57.97822, 56.19003 57.97771...",41/1,улица Мира,"ТРК ""Столица""",mall,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70960038,"[845709053, 845708509, 845707951, 845707425, 8...",yes,1,"POLYGON ((56.14925 57.96021, 56.14935 57.96026...",NaN,NaN,Продуктовый,convenience,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70960853,"[845708833, 845708249, 845707726, 845707201, 8...",commercial,2,"POLYGON ((56.16230 57.97101, 56.16269 57.97111...",87,улица Мира,NaN,supermarket,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73897945,"[874303525, 874303566, 1256883778, 1256884295,...",yes,3,"POLYGON ((56.13279 57.95890, 56.13298 57.95880...",335,шоссе Космонавтов,Салон А Мебель,supermarket,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78623017,"[922415218, 4193738711, 4193738714, 936390654,...",yes,3,"POLYGON ((56.21545 57.98680, 56.21546 57.98679...",40А,Стахановская улица,Аврора,mall,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602417058,"[5722156196, 5722156197, 5722156198, 572215619...",kiosk,NaN,"POLYGON ((56.20748 57.98474, 56.20750 57.98472...",NaN,NaN,NaN,convenience,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624237174,"[5894676988, 5894676989, 5894676990, 589467699...",yes,NaN,"POLYGON ((56.15835 57.97453, 56.15859 57.97445...",NaN,NaN,NaN,car_repair,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624391844,"[5896224331, 5896224332, 5896224333, 589622433...",yes,NaN,"POLYGON ((56.16239 57.97584, 56.16247 57.97577...",NaN,NaN,NaN,car_parts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624446060,"[5896736337, 5896736338, 5896736339, 589673634...",yes,NaN,"POLYGON ((56.13756 57.96534, 56.13763 57.96530...",NaN,NaN,Шиномонтаж,car_repair,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
723062725,"[6782200932, 6782200933, 6782200934, 678220093...",yes,NaN,"POLYGON ((56.15354 57.97236, 56.15139 57.97316...",162Б,шоссе Космонавтов,NaN,supermarket,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
for i, row in buildings.dropna(subset=['shop']).iterrows():
    print(row['shop'], row['amenity'])

mall nan
convenience nan
supermarket nan
supermarket nan
mall nan
convenience nan
convenience nan
doityourself nan
supermarket nan
yes nan
convenience nan
kiosk nan
convenience nan
mall nan
car nan
florist nan
doityourself nan
hardware nan
car nan
kiosk nan
kiosk nan
convenience nan
kiosk nan
butcher nan
greengrocer nan
furniture nan
car nan
supermarket nan
car_repair nan
hairdresser nan
variety_store nan
kiosk nan
convenience nan
yes nan
car_parts nan
clothes nan
tyres nan
car nan
department_store nan
car nan
convenience nan
convenience nan
convenience nan
mobile_phone nan
kiosk nan
butcher nan
florist nan
convenience nan
kiosk nan
kiosk nan
florist nan
convenience nan
kiosk nan
mobile_phone nan
convenience nan
convenience nan
supermarket nan
convenience nan
convenience nan
car_repair nan
car_parts nan
car_repair nan
supermarket nan

In [135]:
# shop is non NaN
amenity_shops_dict = ['kiosk', 'retail', 'supermarket']
needed_columns = ['building', 'name', 'shop', 'amenity']
shops = buildings.dropna(subset=['shop'])[needed_columns]
building_shop = buildings.loc[buildings['building'].isin(amenity_shops_dict)][needed_columns]


sport = ['grandstand', 'pavilion', 'riding_hall', 'sports_hall', 'stadium']

In [168]:
final_shops = shops.merge(building_shop, how='outer').reset_index(drop=True)

In [192]:
final_list = []
for i, row in final_shops.iterrows():
    if not pd.isnull(row['shop']):
        #new_dict.append('shop=', row['shop'])
        final_list.append(row['shop'])
    elif not pd.isnull(row['amenity']):
        #print('amenity=', row['amenity'])
        final_list.append(row['amenity'])
    elif not pd.isnull(row['building']):
        #print('building=', row['building'])
        final_list.append(row['building'])

In [195]:
final_dict = dict(pd.Series(final_list).value_counts())

In [178]:
real_live_buildings.building.value_counts()

      building                      name         shop    amenity
0          yes             ТРК "Столица"         mall        NaN
1          yes               Продуктовый  convenience        NaN
2   commercial                       NaN  supermarket        NaN
3          yes            Салон А Мебель  supermarket        NaN
4          yes                    Аврора         mall        NaN
..         ...                       ...          ...        ...
70      retail                       NaN          NaN        NaN
71      retail                       NaN          NaN        NaN
72      retail                       NaN          NaN        NaN
73      retail                Макдоналдс          NaN  fast_food
74      retail  Строительный супермаркет          NaN        NaN

[75 rows x 4 columns]

True

In [156]:
pd.is

nan

In [65]:
buildings.dropna(subset=['sport']).index
#sport, leisure, sport_amenity

Int64Index([25690619, 165179816, 165179817], dtype='int64')

In [94]:
buildings

,nodes,building,building:levels,geometry,addr:housenumber,addr:street,name,shop,leisure,sport,...,fixme,level,old_name,short_name,toilets:wheelchair,payment:cash,location,official_short_name,members,type
25501154,"[277871989, 277871990, 277871991, 277871992, 2...",yes,2,"POLYGON ((56.14878 57.97648, 56.14874 57.97621...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25501172,"[277872160, 277872161, 277872162, 277872163, 2...",yes,2,"POLYGON ((56.14644 57.97661, 56.14662 57.97641...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25501182,"[277872209, 277872210, 4054177288, 277872211, ...",yes,2,"POLYGON ((56.14640 57.97590, 56.14658 57.97571...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25690389,"[280099284, 280097179, 280099285, 1485943974, ...",yes,3,"POLYGON ((56.18953 57.97822, 56.19003 57.97771...",41/1,улица Мира,"ТРК ""Столица""",mall,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25690619,"[1485943984, 949662604, 949662602, 949662600, ...",yes,2,"POLYGON ((56.18588 57.97636, 56.18575 57.97636...",41,улица Мира,"""Олимпия""",NaN,sports_centre,multi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4669321,NaN,yes,NaN,"POLYGON ((56.17454 57.87818, 56.17385 57.87859...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{332510573: 'outer', 332510574: 'outer'}",multipolygon
4669322,NaN,yes,NaN,"POLYGON ((56.17115 57.88024, 56.17135 57.88034...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{332510582: 'outer', 332510569: 'outer'}",multipolygon
4669323,NaN,yes,NaN,"POLYGON ((56.15870 57.88619, 56.15877 57.88621...",94,Промышленная улица,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{332510564: 'outer', 269885422: 'outer'}",multipolygon
4669324,NaN,yes,NaN,"POLYGON ((56.17272 57.87929, 56.17281 57.87933...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{332510584: 'outer', 332510568: 'outer', 33251...",multipolygon
6014605,NaN,school,3,"POLYGON ((56.22067 57.98300, 56.22142 57.98295...",3Б,улица Сивкова,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"{400023303: 'outer', 400693541: 'inner'}",multipolygon